.footer{
    display: flex;
    text-align: center;
    padding: 20px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #6d75ce;
    background-color: #6270ef;
}

.logo {
    width: 100px;
    height: 100px;
    margin-right: 10px;
    border: none;
    background-color: transparent;
    
}

.footer p{
    background-color: transparent;
    padding: 0;
    font-size: 16px;
    font-weight: 500;
    color: #f8f8fa;
}